ipykernel ~= 5.3
joblib ~= 0.16.0
Keras == 2.3.*  # v2.4 dropped support for non-TF backends
matplotlib ~= 3.3
numpy ~= 1.19
pandas ~= 1.0
requests ~= 2.24
scikit-image ~= 0.17.2
scikit-learn ~= 0.23.1
scipy ~= 1.5

# Choose one or substitute your favorite Keras backend
tensorflow ~= 2.9
plaidml-keras ~= 0.7
