joblib ~= 0.13.2
Keras ~= 2.2
matplotlib ~= 3.0
numpy ~= 1.16
pandas ~= 0.24.2
requests ~= 2.18
scikit-image ~= 0.15.0
scikit-learn ~= 0.20.3
scipy ~= 1.2

# Or substitute your favorite Keras backend
tensorflow ~= 1.13
